PRIMARY_DB_URL="postgresql://writer:writer_password@localhost:5432/demo?sslmode=disable&connect_timeout=10"
REPLICA_DB_URL="postgresql://reader:reader_password@localhost:5433/demo?sslmode=disable&connect_timeout=10"
