defaults
    mode tcp
    timeout connect 5s
    timeout client  10m
    timeout server  10m

listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

listen postgres_replicas
    bind *:5433
    balance roundrobin
    server replica1 postgres-replica-1:5432 check
    server replica2 postgres-replica-2:5432 check
